
MyHomePage/bin/Debug/netstandard2.0/dist/_framework/_bin/Microsoft.AspNetCore.Blazor.Browser.dll
MyHomePage/bin/Debug/netstandard2.0/dist/_framework/_bin/Microsoft.AspNetCore.Blazor.dll
MyHomePage/bin/Debug/netstandard2.0/dist/_framework/_bin/Microsoft.Extensions.DependencyInjection.Abstractions.dll
MyHomePage/bin/Debug/netstandard2.0/dist/_framework/_bin/Microsoft.Extensions.DependencyInjection.dll
MyHomePage/bin/Debug/netstandard2.0/dist/_framework/_bin/Microsoft.JSInterop.dll
MyHomePage/bin/Debug/netstandard2.0/dist/_framework/_bin/Mono.WebAssembly.Interop.dll
MyHomePage/bin/Debug/netstandard2.0/dist/_framework/_bin/mscorlib.dll
MyHomePage/bin/Debug/netstandard2.0/dist/_framework/_bin/MyHomePage.dll
MyHomePage/bin/Debug/netstandard2.0/dist/_framework/_bin/MyHomePage.pdb
MyHomePage/bin/Debug/netstandard2.0/dist/_framework/_bin/netstandard.dll
MyHomePage/bin/Debug/netstandard2.0/dist/_framework/_bin/System.Core.dll
MyHomePage/bin/Debug/netstandard2.0/dist/_framework/_bin/System.dll
MyHomePage/bin/Debug/netstandard2.0/dist/_framework/_bin/System.Net.Http.dll
MyHomePage/bin/Debug/netstandard2.0/dist/_framework/asmjs/mono.asm.js
MyHomePage/bin/Debug/netstandard2.0/dist/_framework/asmjs/mono.js
MyHomePage/bin/Debug/netstandard2.0/dist/_framework/asmjs/mono.js.mem
MyHomePage/bin/Debug/netstandard2.0/dist/_framework/blazor.boot.json
MyHomePage/bin/Debug/netstandard2.0/dist/_framework/blazor.server.js
MyHomePage/bin/Debug/netstandard2.0/dist/_framework/blazor.webassembly.js
MyHomePage/bin/Debug/netstandard2.0/dist/_framework/wasm/mono.js
MyHomePage/bin/Debug/netstandard2.0/dist/_framework/wasm/mono.wasm
MyHomePage/bin/Debug/netstandard2.0/Microsoft.AspNetCore.Blazor.Browser.dll
MyHomePage/bin/Debug/netstandard2.0/Microsoft.AspNetCore.Blazor.dll
MyHomePage/bin/Debug/netstandard2.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
MyHomePage/bin/Debug/netstandard2.0/Microsoft.Extensions.DependencyInjection.dll
MyHomePage/bin/Debug/netstandard2.0/Microsoft.JSInterop.dll
MyHomePage/bin/Debug/netstandard2.0/Mono.WebAssembly.Interop.dll
MyHomePage/bin/Debug/netstandard2.0/MyHomePage.blazor.config
MyHomePage/bin/Debug/netstandard2.0/MyHomePage.dll
MyHomePage/bin/Debug/netstandard2.0/MyHomePage.pdb
/.vs/MyHomePage/v15/Server/sqlite3
*.cs
/MyHomePage/obj/Debug/netstandard2.0
/MyHomePage/obj
